<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <title>toth - Style Guide</title>

    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="toth.min.css">

    {{#each toth}}
      {{#if cssurl}}
        <link rel="stylesheet" href="{{cssurl}}">
      {{/if}}
    {{/each}}
  </head>
  <body class="toth-body">
    <aside class="toth-navbar">
      <nav class="toth-navbar-menu">
        <ul class="toth-navigation">
        {{#each toth}}
        <li class="toth-nagigation-item">
          <a class="toth-navigation-link" href="#{{kebabCase name}}" title="{{name}}">{{name}}</a>
        </li>
        {{/each}}
        </ul>
      </nav>
      <a class="toth-navbar-brand" href="https://github.com/filipelinhares/toth" target="_blank"><small>built with toth</small></a>
    </aside>
    <section class="toth-guide-body">
      {{#each toth}}
        <section class="toth-section">
          <h2 id="{{kebabCase name}}">{{name}}</h2>
          <p>{{description}}</p>
          {{#if this.colors}}
            <div class="toth-color-grid">
              {{#each this.colors}}
                <div class="toth-color-item">
                  <div class="toth-color-palette" style="background-color: {{name}}">
                    <span class="toth-color-text"><strong>{{name}}</strong> - {{variable}}</span>
                  </div>
                </div>
              {{/each}}
            </div>
          {{else}}
          <h3>Modifiers</h3>
          <dl>
            {{#each state}}
              <dt>{{name}}</dt>
              <dd>{{description}}</dd>
            {{/each}}
          </dl>
          <h3>Example</h3>
          {{{markup.example}}}
          <h3>Markup</h3>
          <pre class="toth-code">
              <button class="js-btn-clipboard toth-btn-clipboard">Copy</button>
              <code class="html">
{{markup.example}}
              </code>
              </pre>
          {{/if}}
        </section>
      {{/each}}
    </section>
    <script src="toth.min.js"></script>
    {{#each toth}}
      {{#if jsurl}}
        <script href="{{jsurl}}"></script>
      {{/if}}
    {{/each}}
  </body>
</html>
